@font-face {
  font-family: flappy;
  src: url(../resources/fonts/flappy-bird.ttf);
  font-weight: normal;
  font-style: normal;
}

table,
td,
th {
  border-style: inset;
  border-color: #3e8e41;
  border-width: 1px;
  text-align: left;
  margin: auto;
  background-color: #f5d014;
}

table {
  font-family: "flappy";
  font-size: 30px;
  color: #57c440;
  border-collapse: collapse;
  width: 250%;
  height: 100%;
}

th,
td {
  font-family: "flappy";
  color: #57c440;
  padding: 5px;
  font-size: 150%;
}
